@page "/counter"
@using HalloBlazor.Data
@using System.Net
@using System.Text.Json

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<p>INFO: @fact</p>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;

    string fact = "lade...";

    void IncrementCount()
    {
        currentCount++;

        //fact = new FactsService().GetWichtigeInfo();


        using var wc = new WebClient();
        var json = wc.DownloadString("https://cat-fact.herokuapp.com/facts/");
        CatFacts facts = JsonSerializer.Deserialize<CatFacts>(json);
        fact = facts.all.First().text;

    }


}
